name: Sync deployment environments to main
on:
  push:
    branches:
      - main
permissions:
  pull-requests: write

jobs:
  create-pull-requests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create Pull Request for dev branch
        run: >
          gh pr create -B dev -H main
          --title 'Merge main into dev'
          --body 'Created by GitHub Actions'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Pull Request for prod branch
        run: >
          gh pr create -B prod -H main
          --title 'Merge main into prod'
          --body 'Created by GitHub Actions'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
